---
title: Using CampusNexus to Maximize Enrollment Management
---
<article class="profiles-article">
    <header class="profiles-article__header">
        <a href="//www.campusmanagement.com/" class="header__home-link" target="_blank">Home</a>
        <h2>Profiles in CRM</h2>
        <p>Texas A&amp;M &mdash; Kingsville</p>
    </header>

    <section class="profiles-article-section--using-cnx">
        <h1 class="animated">Using CampusNexus to Maximize Enrollment Management</h1>
        <img src="./images/happy-students.jpg" alt="happy students" class="animated"/>
        <blockquote class="animated">
            <p>As an enrollment manager, you have to have flexibility. You have to make adjustments over time.
                You cannot be locked into something that works one way and one way only.</p>
            <cite>
                Manuel R. Lujan
            </cite>
            <img class="using-cnx__signature" src="./images/signature.png" alt="Manuel R. Lujan Signature"/>
        </blockquote>
    </section>

    <section class="profiles-article-section--crm-effect">
        <h2 class="animated">The Effect of CRM on Recruitment</h2>
        <video autoplayInProd controls poster="./images/poster.jpg">
            <source
                    src="//ds8xcy.cloud.influxis.com/ManagedContent/effect-of-crm-on-recruitment2_h264_512k_360p_aac_96k.mp4"
                    type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="crm-effect__text-content animated">
            <p>Manuel Lujan has more than 38 years of executive leadership in higher education, including his most
                recent tenure as associate vice president of enrollment at Texas A&amp;M University-Kingsville. Having a
                passion for CRM as a tool for student engagement, Mr. Lujan was among the first in the country to
                leverage the technology to help drive growth and improve the quality of communications and services at
                traditional institutions.</p>
        </div>
        <blockquote class="animated">
            <p>My most recent institution, it had been an open enrollment school since 1925. It had a 3,000-student
                enrollment decline over a ten-year period.</p>
            <p> Then once we implemented CampusNexus<sup>&reg;</sup>, you can basically see a 45-degree angle change in
                the number of applications that we have consistently been able to bring in.</p>
            <cite>Manuel R. Lujan</cite>
        </blockquote>
        <figure>
            <img src="./images/chart.png" alt="Effect of CRM on Recruitment Chart"/>
        </figure>
    </section>

    <section class="profiles-article-section--retention">
        <h2 class="animated">Retention Strategies</h2>
        <video controls poster="./images/poster.jpg">
            <source
                    src="//ds8xcy.cloud.influxis.com/ManagedContent/retention-strategies_h264_512k_360p_aac_96k.mp4"
                    type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <blockquote>
            <p>There are a lot of strategies that you can do, but to coordinate all of this, you have to be able to
                collect this information and you have to have a system that allows you to execute all of the strategies,
                the tactics that you have developed and do it very easily. CampusNexus gave us the ability to do that.
                <cite>Manuel R. Lujan</cite>
        </blockquote>
        <img src="./images/ring.png" alt="" class="retention__ring animated"/>
        <img src="./images/retention-strat-bg.jpg" alt="" class="retention__bg animated"/>
    </section>

    <section class="profiles-article-section--distance-learning">
        <h2 class="animated">Distance Learning</h2>
        <video controls poster="./images/poster.jpg">
            <source
                    src="//ds8xcy.cloud.influxis.com/ManagedContent/distance-learning_h264_512k_360p_aac_96k.mp4"
                    type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <blockquote class="animated">
            <p>Not everyone has the ability to give up four years to go to a specific place. We are going to have to
                bring education and make it available to them based on where they are. Right now, CampusNexus is the
                only one that I can see that is that flexible and that broad and gives you the capability to do that,
                not just from beginning, but to when a student is finishing up.</p>
            <cite>Manuel R. Lujan</cite>
        </blockquote>
        <img src="./images/keyboard.jpg" alt="" class="distance-learning__bg"/>
    </section>

    <section class="profiles-article-section--campaigns">
        <h2 class="animated">Campaigns</h2>
        <video controls poster="./images/poster.jpg">
            <source
                    src="//ds8xcy.cloud.influxis.com/ManagedContent/campaigns_h264_512k_360p_aac_96k.mp4"
                    type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <blockquote>
            <p>You can execute campaigns that are being triggered off of things you have built into the system such as
                when a student is coming, the entry term, such as student type, such as the stage in a funnel that they
                are in</p>
            <cite>Manuel R. Lujan</cite>
        </blockquote>
    </section>

    <section class="profiles-article-section--filtering">
        <h2 class="animated">Filtering</h2>
        <video controls poster="./images/poster.jpg">
            <source
                    src="//ds8xcy.cloud.influxis.com/ManagedContent/filtering_h264_512k_360p_aac_96k.mp4"
                    type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <blockquote>
            <p>You can develop a filter without impacting anything. It is so easy to use. So intuitive. I have seen
                other products and they are pretty cumbersome. You have to do it their way.</p>
            <cite>Manuel R. Lujan</cite>
        </blockquote>
    </section>

    <footer class="profiles-article__footer">
        <a href="//www.campusmanagement.com/contact-us/request-demo/" class="profiles-article-footer__request-demo-link">Request a demo</a>
        <ul class="profiles-article-footer--social-links-list">
            <li><a href="http://www.campusmanagement.com/" target="_blank">Home</a></li>
            <li><a href="https://www.facebook.com/Campus-Management-Corp-307093670261" target="_blank">Facebook</a></li>
            <li><a href="https://twitter.com/CampusMgmt" target="_blank">twitter</a></li>
            <li><a href="https://www.linkedin.com/company/campus-management-corp" target="_blank">linkedin</a></li>
        </ul>
    </footer>
</article>
