@import url(https://fonts.googleapis.com/css?family=Oswald:600,400);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:600,400);

@include establish-baseline;

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    color: $font-color-text;
    margin: $gutter;
}

h1 {
    font-size: 2em;
    line-height: 1;
    font-weight: 600;
    margin: 0.5em 0;
}

sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
}
