$font-color-text: #FFFFFF;
$font-color-text-dark: #5C5E5F;
$theme-primary: #002D56;
$theme-secondary: #535353;
$font-color-header: #FFFFFF;
$border-color-light: #F4F4F4;
$left-nav-menu-z-index: 99;
$gutter: 1em;

$rhythm-unit: 'rem';
$base-font-size: 16px;
$base-line-height: 26px;
$font-family-base: 'Open Sans', sans-serif;

$break-max-width: 1000px;
$break-mid-width: 700px;
$break-min-width: 500px;
