body {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: $theme-secondary;
}

.article-background {
    @media (min-width: $break-max-width) {
        background: url('../images/bg.jpg') no-repeat 50% 50% scroll;
        position: fixed;
        top: 0;
        left: 0;
        width: 110vw;
        height: 110vh;
        min-width: 1010px;
        background-size: cover;
        z-index: -10;
    }
}

.animated {
    @media (min-width: $break-max-width) {
        visibility: hidden;
        &.is-visible {
            visibility: visible;
        }
    }
}
