.profiles-article {
    overflow: hidden;
    @media (min-width: $break-max-width) {
        overflow: visible;
        margin: auto;
        width: $break-max-width;
    }

    h2 {
        font-family: Oswald, sans-serif;
        text-transform: uppercase;
        font-weight: 600;
    }

    blockquote {
        quotes: '“' '”' '‘' '’';
        p:first-child:before {
            content: open-quote;
        }
        p:last-of-type:after {
            content: close-quote;
        }
        cite {
            display: none;
        }
    }
}

[class*='profiles-article-section--'] {
    position: relative;
}

.profiles-article__header {
    background-color: $theme-primary;
    padding: rhythm(0.5);
    text-align: center;
    text-transform: uppercase;
    position: relative;

    h2 {
        @include adjust-font-size-to(20px);
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 400;
        margin: 0;
        @media (min-width: $break-max-width) {
        }
    }

    p {
        @include adjust-font-size-to(25px, 1);
        font-family: Oswald, sans-serif;
        font-weight: 600;
        @media (min-width: $break-mid-width) {
            @include adjust-font-size-to(45px);
        }
    }

    .header__home-link {
        @include media-button();
        margin: 0 auto rhythm(0.5);
        display: block;
        &:after {
            background-image: url('../images/home.svg');
        }
        @media (min-width: $break-mid-width) {
            position: absolute;
            left: rhythm(1);
            top: rhythm(1);
            margin: 0;
        }
    }
}

.profiles-article-section--using-cnx {
    h1 {
        @include adjust-font-size-to(45px, 2);
        font-family: Oswald, sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        position: absolute;
        top: rhythm(0);
        left: rhythm(0.5);
        right: rhythm(0);
        text-shadow: 3px 4px 5px #000000;
        z-index: 1;
        @media (min-width: $break-min-width) {
            @include adjust-font-size-to(60px, 2.5);
            left: rhythm(1);
            right: rhythm(1);
        }
        @media (min-width: $break-max-width) {
            text-shadow: none;
            top: rhythm(0);
            left: rhythm(2);
            right: rhythm(2);
            &.is-visible {
                // scss-lint:disable NameFormat
                @include fadeInLeftMedium();
            }
        }
    }

    img {
        display: block;
        z-index: -1;
        @media (min-width: $break-max-width) {
            &.is-visible {
                // scss-lint:disable NameFormat
                @include fadeInUp(
                    $delay: 0.5s
                );
            }
        }
    }

    blockquote {
        @include adjust-font-size-to(20px, 1);
        @include clearfix();
        padding: rhythm(1) rhythm(1) rhythm(0.5);
        color: #878787;
        background-color: #FFFFFF;
        @media (min-width: $break-min-width) {
            @include adjust-font-size-to(30px, 1.5);
            padding: rhythm(1) rhythm(2);
        }
        @media (min-width: $break-max-width) {
            &.is-visible {
                // scss-lint:disable NameFormat
                @include fadeInUp(
                    $delay: 0.5s
                );
            }
        }
        p {
            margin-bottom: rhythm(0.5);
        }
    }

    .using-cnx__signature {
        margin-top: rhythm(-1);
        float: right;
        clear: both;
    }
}

.profiles-article-section--crm-effect {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: rhythm(1);

    h2 {
        @include adjust-font-size-to(35px, 1.5);
        padding: rhythm(1) 0 rhythm(0.5) rhythm(0.5);
        order: 1;
        flex: 1 1 auto;
        width: 480px;
        @media (min-width: $break-min-width) {
            @include adjust-font-size-to(50px, 2);
            padding: rhythm(1) 0 rhythm(1) rhythm(1);
        }
        @media (min-width: $break-max-width) {
            @include adjust-font-size-to(75px, 3);
            padding: rhythm(1) 0 rhythm(1.5) rhythm(1.5);
            order: 4;
            &.is-visible {
                // scss-lint:disable NameFormat
                @include fadeInRightMedium();
            }
        }
    }

    p:not(:last-child) {
        margin-bottom: rhythm(1);
    }

    video {
        order: 2;
        height: auto;
        max-width: 640px;
        width: 100%;
        margin: auto;
        @media (min-width: $break-max-width) {
            margin: 0;
            order: 1;
            flex-basis: 640px;
            width: auto;
        }
    }

    .crm-effect__text-content {
        @include adjust-font-size-to(18px, 1);
        font-weight: 400;
        color: #DDDDDD;
        order: 3;
        padding: rhythm(1);
        flex: 1 1 360px;
        @media (min-width: $break-min-width) {
            @include adjust-font-size-to(23px, 1.5);
        }
        @media (min-width: $break-max-width) {
            @include adjust-font-size-to(18px, 1);
            order: 2;
            flex: 1 1 300px;
            padding: rhythm(1.5) 0 0 rhythm(1.5);
            &.is-visible {
                // scss-lint:disable NameFormat
                @include fadeInRightMedium(
                    $delay: 1s
                );
            }
        }
    }

    blockquote {
        @include adjust-font-size-to(18px);
        order: 4;
        background-color: #FFFFFF;
        color: #666666;
        padding: rhythm(1);
        p:last-of-type {
            margin-bottom: 0;
        }
        @media (min-width: $break-min-width) {
            @include adjust-font-size-to(23px, 1.5);
        }
        @media (min-width: $break-max-width) {
            @include adjust-font-size-to(23px, 1.5);
            order: 3;
            padding: rhythm(1.5) rhythm(3) rhythm(1) rhythm(2);
            margin-bottom: rhythm(2);
            flex: 0 1 auto;
            width: 520px;//ie workaround
            &.is-visible {
                //scss-lint:disable NameFormat
                @include fadeInLeft(
                    $delay: 1s
                );
            }
        }
    }

    figure {
        order: 5;
        padding: 0 rhythm(1) rhythm(1);
        background-color: #FFFFFF;
        display: block;
        width: 100%;
        @media (min-width: $break-max-width) {
            position: absolute;
            bottom: - rhythm(1);
            right: rhythm(6);
            background-color: transparent;
            width: auto;
        }

        img {
            display: block;
            max-width: 100%;
            height: auto;
            margin: auto;
        }
    }
}

.profiles-article-section--retention {

    h2 {
        @include adjust-font-size-to(55px, 2);
        margin: 0 0 rhythm(1) rhythm(0.5);
        display: inline-block;
        vertical-align: top;
        @media (min-width: $break-min-width) {
            @include adjust-font-size-to(65px, 2);
            margin: 0 0 rhythm(1) rhythm(1);
        }
        @media (min-width: $break-max-width) {
            @include adjust-font-size-to(120px, 4.5);
            width: 614px;
            margin: 0 0 rhythm(1);
            &.is-visible {
                // scss-lint:disable NameFormat
                @include fadeInUpMedium();
            }
        }
    }

    video {
        max-width: 640px;
        width: 100%;
        margin: auto;
        margin-top: rhythm(1);
        height: auto;
        display: block;
        @media (min-width: $break-max-width) {
            display: inline-block;
            width: 360px;
            vertical-align: middle;
        }
    }

    blockquote {
        @include adjust-font-size-to(18px, 1);
        background-color: #FFFFFF;
        color: #666666;
        width: 100%;
        padding: rhythm(1);
        margin-bottom: rhythm(1);
        p:last-of-type {
            margin-bottom: 0;
        }
        @media (min-width: $break-mid-width) {
            @include adjust-font-size-to(23px, 1.5);
            width: 50%;
            padding-right: rhythm(2);
            margin-bottom: rhythm(4);
        }
        @media (min-width: $break-max-width) {
            margin-bottom: rhythm(3);
            padding: rhythm(2);
            width: 475px;
        }
    }

    .retention__ring {
        display: none;
        z-index: 1;
        @media (min-width: $break-mid-width) {
            display: block;
            position: absolute;
            bottom: - rhythm(4);
            right: 40%;
        }
        @media (min-width: $break-max-width) {
            &.is-visible {
                // scss-lint:disable NameFormat
                @include fadeInUp(
                    $delay: 1s
                );
            }
        }
    }

    .retention__bg {
        display: none;
        z-index: -2;
        @media (min-width: $break-mid-width) {
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
        }
        @media (min-width: $break-max-width) {
            &.is-visible {
                // scss-lint:disable NameFormat
                @include fadeInRightMedium();
            }
        }
    }
}

.profiles-article-section--distance-learning {
    h2 {
        @include adjust-font-size-to(55px, 2);
        margin: 0 0 rhythm(1) rhythm(0.5);
        display: inline-block;
        vertical-align: top;
        position: relative;
        z-index: -1;
        @media (min-width: $break-min-width) {
            @include adjust-font-size-to(65px, 2);
            margin: 0 0 rhythm(1) rhythm(1);
        }
        @media (min-width: $break-max-width) {
            @include adjust-font-size-to(120px, 4.5);
            float: left;
            width: 564px;
            margin: 0 0 rhythm(1);
            &.is-visible {
                // scss-lint:disable NameFormat
                @include fadeInLeftMedium();
            }
        }
    }

    blockquote {
        @include adjust-font-size-to(18px, 1);
        padding: rhythm(1);
        position: relative;
        background-color: #FFFFFF;
        color: #666666;
        @media (min-width: $break-min-width) {
            @include adjust-font-size-to(23px, 1.5);
        }
        @media (min-width: $break-max-width) {
            padding: rhythm(2) rhythm(6) rhythm(2) rhythm(2);
            width: 598px;
            clear: both;
            z-index: -3;
            &.is-visible {
                //scss-lint:disable NameFormat
                @include fadeIn(
                    $delay: 1s
                );
            }
        }
    }

    video {
        max-width: 640px;
        width: 100%;
        margin: rhythm(1.5) auto 0;
        height: auto;
        display: block;
        @media (min-width: $break-max-width) {
            height: auto;
            width: 436px;
            float: right;
        }
    }

    .distance-learning__bg {
        display: none;
        @media (min-width: $break-max-width) {
            display: block;
            position: absolute;
            top: 35%;
            right: 0;
            transform: scale(0.9, 0.9) rotate(-10deg);
            z-index: -2;
        }
    }
}

.profiles-article-section--campaigns {
    @include clearfix();
    @media (min-width: $break-max-width) {
        padding: rhythm(2);
    }

    h2 {
        @include adjust-font-size-to(55px, 2);
        margin: rhythm(1) 0 rhythm(1) rhythm(0.5);
        @media (min-width: $break-min-width) {
            @include adjust-font-size-to(65px, 2);
            margin: rhythm(2) 0 rhythm(1) rhythm(1);
        }
        @media (min-width: $break-max-width) {
            @include adjust-font-size-to(74px);
            margin: 0;
            float: left;
            &.is-visible {
                // scss-lint:disable NameFormat
                @include fadeInLeftMedium();
            }
        }
    }

    blockquote {
        @include adjust-font-size-to(18px, 1);
        padding: rhythm(1);
        @media (min-width: $break-min-width) {
            @include adjust-font-size-to(23px, 1.5);
        }
        @media (min-width: $break-max-width) {
            padding: rhythm(1) rhythm(1) 0 0;
            position: relative;
            width: 442px;
            float: left;
        }
    }

    video {
        max-width: 640px;
        width: 100%;
        margin: auto;
        height: auto;
        display: block;
        @media (min-width: $break-max-width) {
            height: auto;
            width: 436px;
            float: right;
        }
    }
}

.profiles-article-section--filtering {
    @include clearfix();
    background-color: #FFFFFF;
    color: #000000;
    padding-top: rhythm(1);
    @media (min-width: $break-max-width) {
        padding: rhythm(2);
    }

    h2 {
        @include adjust-font-size-to(55px, 2);
        margin: 0 0 rhythm(1) rhythm(0.5);
        @media (min-width: $break-min-width) {
            @include adjust-font-size-to(65px, 2);
            margin: rhythm(1) 0 rhythm(1) rhythm(1);
        }
        @media (min-width: $break-max-width) {
            @include adjust-font-size-to(74px);
            margin: 0;
            float: left;
            &.is-visible {
                // scss-lint:disable NameFormat
                @include fadeInLeftMedium();
            }
        }
    }

    blockquote {
        @include adjust-font-size-to(18px, 1);
        color: #666666;
        padding: rhythm(1);
        @media (min-width: $break-min-width) {
            @include adjust-font-size-to(23px, 1.5);
        }
        @media (min-width: $break-max-width) {
            padding: rhythm(1) rhythm(1) 0 0;
            position: relative;
            width: 442px;
            float: left;
        }
    }

    video {
        max-width: 640px;
        width: 100%;
        margin: auto;
        height: auto;
        display: block;
        @media (min-width: $break-max-width) {
            float: right;
            height: auto;
            width: 436px;
        }
    }
}

.profiles-article__footer {
    background-color: $theme-primary;
}

.profiles-article-footer__explains-link {
    @include adjust-font-size-to(40px, 1.5);
    padding: rhythm(0.5) 0;
    @media (min-width: $break-min-width) {
        @include adjust-leading-to(4);
        padding: 0;
    }
    font-weight: 600;
    display: block;
    text-align: center;
    border-bottom: 1px solid #14597A;
    &:link, &:visited, &:hover, &:active {
        color: #FFFFFF;
        text-decoration: none;
    }
}

.profiles-article-footer__request-demo-link {
    @include adjust-font-size-to(23px, 4);
    font-weight: 600;
    text-align: center;
    display: block;
    border-bottom: 1px solid #14597A;
    @media (min-width: $break-min-width) {
        display: inline-block;
        width: 50%;
        border-bottom: 0;
    }
    &:link, &:visited, &:hover, &:active {
        color: #FFFFFF;
        text-decoration: none;
    }
}

.profiles-article-footer--social-links-list {
    display: block;
    text-align: center;
    padding: rhythm(0.25) 0 rhythm(0.5);
    vertical-align: middle;
    @media (min-width: $break-min-width) {
        width: 49%;
        display: inline-block;
        padding: 0;
    }

    li {
        display: inline-block;
    }

    a {
        @include media-button();
        &[href*='facebook']:after {
            background-image: url('../images/facebook1.svg');
        }
        &[href*='twitter']:after {
            background-image: url('../images/twitter-social-media1.svg');
        }
        &[href*='linkedin']:after {
            background-image: url('../images/linkedin-social-media1.svg');
            left: 0.875em;
            right: 0.750em;
            top: 0.750em;
            bottom: 0.750em;
        }
        &[href*='campusmanagement.com']:after {
            background-image: url('../images/home.svg');
        }
    }
}
