@mixin clearfix() {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

@mixin media-button() {
    display: block;
    background-color: #00A4DC;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    text-indent: 4em;
    white-space: nowrap;
    overflow: hidden;
    margin: 0.5em 0.625em 0;
    position: relative;
    &:after {
        position: absolute;
        text-indent: 0;
        content: '';
        background: transparent no-repeat 50% 50%;
        background-size: contain;
        left: 0.625em;
        right: 0.625em;
        top: 0.625em;
        bottom: 0.625em;
    }
}
