// scss-lint:disable all

@include keyframes(fadeInLeftMedium) {
    0% {
        opacity: 0;
        @include transform(translateX(-200px));
    }
    100% {
        opacity: 1;
        @include transform(translateX(0));
    }
}

@mixin fadeInLeftMedium($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
    @include animation-name(fadeInLeftMedium);
    @include count($count);
    @include duration($duration);
    @include delay($delay);
    @include function($function);
    @include fill-mode($fill);
    @include visibility($visibility);
}
